@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	margin: 0;
	box-sizing: border-box;
}

/*@media (max-width: 890px) and (min-width: 540px){
		
	}*/

.row {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

/*Header Styling*/

.header {
	display: flex;
	justify-content: space-between;
	color: black;
	background-color: #F5F5F5;
	padding: 5px 20px;
}

.left-navigation {
	width: 400px;
	display: flex;
}

.logo {
	padding-top: 10px;
}

.logo-text {
	padding: 10px 0 10px 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	font-weight: bold;
}

.right-navigation {
	box-sizing: border-box;
}

.right-navigation nav {
	display: flex;
}

.nav-link {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 24px 25px 0 0;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 10px;
}

.nav-link:last-child {
	padding-right: 40px;
}

.nav-link:link, .nav-link:visited, .nav-link1:link, .nav-link1:visited {
	color: black;
	text-decoration: none;
}

.nav-link:hover, .nav-link1:hover {
	color: #c1a3ff;
}

.nav-link:active, .nav-link1:active {
	text-transform: underline solid #d1baff;
}

/*Hero Styling*/

.slideshow-container {
	height: 330px;
	background-image: url(../assets/bowl.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}

.overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background-color: #00000066;
}

.centered-text {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-stretch: extra-expanded;
	padding-top: 130px;
}


/*"Input boxes styling"*/

.data-input {
	display: flex;
	height: 315px;
}

.filters {
	background-color: white;
	border-right: 1px solid #F5F5F5;
	width: 50%;
	padding: 20px 40px;
}

.checkbox-col {
	display: flex;
}

.checkbox-container {
	display: block;
}

.container {
	font-family: 'Raleway', sans-serif;
}

.checkmark {
	background-color: black;
}

/*Ingredients Search*/

.search {
	background-color: white;
	width: 50%;
	padding: 20px 40px;
	display: block;
}

.article-title {
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight: bolder;
	padding: 15px 0;
}

.article-regtext {
	font-family: 'Raleway', sans-serif;
	color: gray;
}

/*Search Fields*/
.search-container {
	display: block;
}

.search-box {
	width: 100%; 
	padding: 8px 20px;
	margin: 8px 0 5px;
	border: none;
	background-color: #F5F5F5;
	color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.search-box:hover {
	background-color: #f3edff;
}

.search-button {
	padding-top: 15px;
	width: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 16px 10px 16px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.search-button:hover {
	background-color: #ccc;
}

/*Recipe header bar styling*/
.recipe-header-bar {
	background-color: #F5F5F5;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #ccc;
}

/*Cards styling*/

.cards-section {
	height: 600px;
	overflow: scroll;
	
	background-color: #F5F5F5;
	flex-wrap: wrap;

	display: flex;
}

.recipeRow {
	/*border: .5px solid black;*/
	display: flex;
	width: 100%;
	height: 450px;
	padding-bottom: 0;
	margin: 0;
}

.col {
	/*border: .5px solid black;*/
	height: 100%;
	width: 25%;
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
	/*flex-grow: 0;
*/
}

.card {
	background-color: white;
	height: 75%;
	width: 100%;
	border: none;
	z-index: 0;
	box-shadow: 0 .5px .5px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
	color: #c1a3ff;	
}


.card img {
	width: 75%%;
	height: 45%;
	object-fit: cover;
	align-content: center;
	border-top-left-radius: 2.5%; 
	border-top-right-radius: 2.5%;
}

.card-body {
	padding-bottom: 0;
}

.card-title {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: black;
}

.col link /*.col:visited .*/ {
	color: black;
	text-decoration: none;
}

.card:hover .card-title{
	color: #c1a3ff;
	text-decoration: none;
}

.card-title:active, .card-title:active {
	text-transform: underline solid #d1baff;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: gray;
}

/*Footer styling*/

.footer {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 10px 20px;
}